<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Forgot Password</title>
</head>
<body>
<h1>Forgot Password</h1>
<form th:action="@{/forgot-password-submit}" method="post">
    <div>
        <label for="email">Email:</label>
        <input required type="email" id="email" name="email"/>
    </div>
    <div>
        <button type="submit">Send Reset Link</button>
    </div>
    <div th:if="${errorMessage}">
        <p th:text="${errorMessage}" style="color:red;"></p>
    </div>
    <div th:if="${success}">
        Email sent successfully.
    </div>

    <div th:unless="${success}">
        Failed to send message. Please try again.
    </div>
</form>
</body>
</html>
